In [18]:
import pandas as pd

# Load a specific sheet by name
df = pd.read_excel('data/mpd2023_web.xlsx', sheet_name='Full data')
df

,countrycode,country,region,year,gdppc,pop
0,AFG,Afghanistan,South and South East Asia,1,NaN,NaN
1,AFG,Afghanistan,South and South East Asia,730,NaN,NaN
2,AFG,Afghanistan,South and South East Asia,1000,NaN,NaN
3,AFG,Afghanistan,South and South East Asia,1090,NaN,NaN
4,AFG,Afghanistan,South and South East Asia,1150,NaN,NaN
...,...,...,...,...,...,...
131139,ZWE,Zimbabwe,Sub Saharan Africa,2018,1900.199191,14096.56
131140,ZWE,Zimbabwe,Sub Saharan Africa,2019,1753.024449,14344.59
131141,ZWE,Zimbabwe,Sub Saharan Africa,2020,1585.972804,14614.82
131142,ZWE,Zimbabwe,Sub Saharan Africa,2021,1687.253154,14900.01
131143,ZWE,Zimbabwe,Sub Saharan Africa,2022,1703.529373,15204.66

In [ ]:
df['decade'] = (df['year'] // 10) * 10
# Grouping data by country and decade to calculate the average 'gdppc' and 'pop' for each group
df_avg = df.groupby(['country', 'decade'])[['gdppc', 'pop']].mean().reset_index()

# Displaying the resulting dataframe
print(df_avg)

In [ ]:
# Grouping data by just the 'decade' to calculate the average 'gdppc' and 'pop' for each decade
df_avg_decades = df.groupby('decade')[['gdppc', 'pop']].mean().reset_index()
display(df_avg_decades)
df_avg_decades['gdppc'] = df_avg_decades['gdppc'].interpolate(method='polynomial', order=2)
df_avg_decades['pop'] = df_avg_decades['pop'].interpolate(method='polynomial', order=2)
df_avg_decades

In [ ]:
df_avg_decades.to_csv('data/gdp_pop_decades.csv', index=False)